<%- include('./header.ejs') %>
<div class="container">
    <div class="row">
        <div class="mx-auto mt-5 col-sm-6">
            <p style="color: blue;">Please DONT Exceed your Limits greater than 2</p>
            <form action="/verify?email=<%=email%>" method="POST">
                <label for="otp">Enter Email</label>
                <input class="form-control" type="otp" id="otp"  placeholder="enter 6 digits OTP" name="otp">
                <p style="color: crimson; ">OTP is Sent to your email id <%=email%></p>
                <button type="submit" class="mt-3 btn btn-danger" value="Submit">Verify</button>
                </form>
                <form style="position: relative; left:300px; bottom: 37px;" action = "/send?email=<%=email%>" method="POST">
                    <button type="submit" class="btn btn-primary">Resend OTP</button>
            </form>
        </div>
    </div>
</div>


<%- include('./footer.ejs')%>